
.navbar {
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  top: 0;
  position: sticky;
}

.nav-link {
  color: rgb(8, 2, 2);
  font-size: 19px;
  font-weight: 550;
}
.nav-link:hover{
  border-bottom: 2px solid #ff851f;
  transition: border 0.5s; /* Smooth border transition */
}
.nav-item {
  padding: 5px 15px;
}

.navbar-brand {
  mix-blend-mode: multiply;
}

    .footer{
      text-decoration: none;
      line-height: 30px;
      color: white;
    }
    .footer:hover{
      /* text-decoration: underline; */
      color:#ff851f;
      border-bottom: 2px solid #ff851f;

    }
    h5{
      color:#ff851f;
    }
